:root {
  --main-il-color: #5261AC;
}

body {

}

.header {
  height: 60px;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo {
}

.header-button-bg {
  padding: 3px 14px 5px 14px;
  margin: 0px 10px 0px 10px;
  color: white;
  background-color: var(--main-il-color);
  border-radius: 20px;
  font-weight: 600;
}

.header-button-no-bg {
  padding: 3px 14px 5px 14px;
  margin: 0px 10px 0px 10px;
  color: var(--main-il-color);
  border-radius: 20px;
  font-weight: 400;
}

.icon {
  margin: 10px;
  size: 1.5em;
}

.header-button-container {
  display: flex;
  align-items: center;
  justify-items: auto;
}